body{
   background-color: skyblue;
}

.container{
   display: grid;
   gap: 30px;
   padding: 20px;
   grid-template-columns: auto auto auto;
}

.container{
   background-color: rgba(0, 0, 71, 0.596);
   padding: 20px;
   text-align: center;
   border: 1px black; 
   text-align:center;
}