body{
    background-color:#F5EFEB;
    margin: 0;
    color:#2F4156;
    font-family: "Cinzel", serif;
}

.navbar{
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(47, 65, 86, 0.08)
}

.nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 12px;
    box-shadow: rgba(132, 132, 132, 0.56) 0px 22px 70px 4px;
}

.nav a{
   display:inline-block;
   text-decoration: none;
   color: #2F4156 ;
   font-weight: 550;
   padding: 8px  18px;
   border-radius: 15px;
   margin-inline-start: 10px;
   letter-spacing: 1px;
   transition: 0.3s ease;
   background-color:#C8D9E6;

}

.nav a:hover{
    background-color: #2F4156 ;
    color:#C8D9E6;
}



.intro{
    text-align: center;
    padding: 100px 20px;
    height: 60vh;
    background-image: url("images/7wonders.png");
    background-size:cover;
    background-position:center;
    margin: 10px;
   

}

.border{
    border-bottom:1px solid #2F4156  ;
    margin:0 12px;
    border-radius: 1.5px;
    padding-top: 8px;
}

.intro2{
    text-align: center;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    margin:10px;
    margin-top: 10px;
    padding: 10px;
  
    
}

.content img{
    display: block;
    width: 230px;
    height: 170px;
   
}

.layout{
    margin-top: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 50px ;
    display:grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 25px;
    grid-template-rows:repeat(4, auto);
    box-shadow: rgba(162, 160, 160, 0.56) 0px 22px 70px 4px;
    
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F4156 ;
    border-radius: 10px;
    padding-bottom: 5px;
    
}

.content h3{
    text-align: center;
    color:white;
}

.content p{
    text-align: center;
    margin:10px;
    color: white;
}







